{% extends 'base.html.twig' %}

{% block title %}{{ category.getName() }}{% endblock %}

{% block body %} 
    <h3>{{ category.getName() }}</h3>

    <!-- Les Produits -->
    <div class="row row-cols-5 d-flex justify-content-center">
    {% for product in products %}
        <a href="products/{{ product.getId() }}" class="card h-100 text-decoration-none text-dark">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.getName() }}</h5>
            </div>
        </a>
    {% endfor %}
    </div>

{% endblock %}